body {
    background-image: url("background/circles/yellow.jpg");
    margin-top: 0;
    margin-left: 0;

    /* Because #card-panel uses negative margin, a horizontal scrollbar would be shown. */
    overflow-x: hidden;
}

/* TOP */

/* TABS IN GENERAL */

.tab {
    color: white;
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.tab.active, .tab.active:hover {
    background: rgba(18, 110, 34, 0.9);
    cursor: default;
}

/* TOP TABS */

#main-tab-containers {
    /* This prevents spaces between the tabs. There are spaces when viewed in browser, because there could be whitespaces in html file between divs. */
    font-size: 0;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-tab {
    border-radius: 0 0 6px 6px;
    padding: 5px 5px 3px 5px;
    margin-top: 5px;
    margin-left:1px;
    margin-right:1px;

    display: inline-block;
    text-align: center;
    vertical-align: middle;

    font-size:18px;
    transition: 0.2s;

    position:relative;
    top:-10px; /* To erase top margin and padding */

}

.main-tab.active, .main-tab:hover {
    top: -5px; /* Add margin */
}

/* SIDE TABS */

#sub-tab-containers {
    margin-top: 10px;
    float: left;
    width: 150px;
}

.sub-tab {
    border-radius: 0 6px 6px 0;
    padding: 4px;
    margin: 2px 0;
}

.sub-tab:hover {
    /* This color is the active tab green divided by 3 */
    background: rgba(6, 37, 11, 0.7);
}


/* SPACE TABS */

#space-container {
    float:right;
}

#space-change-button {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    background:rgba(255, 255, 255, 0.1);
    background-image: url("icons/black-hole.png");
    position: relative; /* z-inde only works if position is specified, so we pick relative which has no effect without extra properties */
    z-index: 1; /* make this on top, so that hover works fine. This button shares space with #card-container-flex, which is shifter 15px towards top */

    text-align: center;
    vertical-align: middle;
}

#space-change-button:hover {
    background-image: url("icons/black-hole-hover.png");
}

#space-tab-container {
    position: absolute;
    z-index: 1;
    right:5px;
    min-width: 100px;
    padding: 4px;
    background: rgba(100, 100, 100, 0.7);
    border-radius: 6px;
}

.space-tab {
    border-radius: 6px;
    padding: 4px;
    margin: 4px 0;
}

.space-tab:hover {
    /* This color is the active tab green divided by 3 */
    background: rgba(6, 37, 11, 0.7);
}

/* CARDS */

#card-panel {
    /* This makes sure that we do not have a margin on the right side of the screen (cause by the margin of individual cards). 
        However, this alone would introduce a horizontal scrollbar, which is hidden by the "body" rules. */
    margin-right: -15px; 
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    clear: right; /* To make sure this is under the floating space-change-container */
    
    position: relative;
    top: -15px; /* Every card has a 15px margin, but on top we don't need it, so we move the entire card-container 15px higher. */
}

.card {
    border: 1px solid black;
    border-radius: 10px;
    margin: 15px;
    padding: 5px;            
    color: white;
    background: rgba(0, 0, 40, 0.70);
    overflow: hidden;

    font-family: "Comic Sans MS", "Comic Sans";
    font-size: 15px;

    width: 300px;
    height: 200px;
}

.card > textarea {
    background: none;
    color: inherit;
    font: inherit;
    border: none;
    outline: none;
    overflow: hidden;
    resize: none;    
    height: 100%;
    width: 100%;
}

.shifted {
    position: relative;
}
